/* Custom CSS Styles to override Bootstrap */
/*
New Colors:
261447
ff3864
f39c6b
cc978e
c0bda5
ede9cb
*/
/*
  ========================================
  SASS Variables
  ========================================
*/
/*
  ========================================
  Custom styles
  ========================================
*/
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f9f9f9;
  color: #16425b;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("login_bg.jpg");
}

h1, h2, h3, h4, h5 {
  color: #16425b;
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a, a:hover {
  color: #16425b;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

.text-muted {
  color: #16425b;
}

/*
==========================
NAVBAR
==========================
*/
#navbar {
  background-color: #16425b;
}

#logo h1 {
  margin-top: 6px;
  margin-left: 5px;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #e9ede6;
  display: inline-block;
}

#logo:hover {
  color: #e9ede6;
}

#logo img {
  float: left;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 700;
  color: #e9ede6;
}

/*
==========================
SIDE NAV
==========================
*/
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: left;
  color: #e9ede6;
  background-color: #16425b;
  overflow-x: hide;
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 80px;
}
.sidenav hr {
  margin: 0 20px 10px 0;
  background-color: #fff;
}
.sidenav h3, .sidenav h4, .sidenav h5, .sidenav #dropdownMenuLink {
  font-weight: 600;
  color: #fff;
}
.sidenav p {
  margin-bottom: 8px;
}
.sidenav .dropdown {
  margin-bottom: 10px;
}
.sidenav .dropdown #dropdownMenuLink {
  font-size: 24px;
}
.sidenav .dropdown .dropdown-menu {
  background-color: #16425b;
  color: #e9ede6;
  max-width: 200px;
  font-weight: 700;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid white;
  z-index: 2;
}
.sidenav .dropdown .dropdown-menu .dropdown-header {
  color: #e9ede6;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 2px 4px;
}
.sidenav .dropdown .dropdown-menu .dropdown-item {
  color: #e9ede6;
  font-weight: 700;
  padding: 4px 4px;
}
.sidenav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #333;
}
.sidenav #new-channel, .sidenav #channel-options-hide, .sidenav #new-workspace, .sidenav #workspace-options-hide, .sidenav #workspace-links, .sidenav #curr-workspace-hide {
  display: none;
}
.sidenav #new-channel button, .sidenav #channel-name, .sidenav #new-workspace button, .sidenav #workspace-name {
  width: 140px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}
.sidenav #new-channel {
  height: 20vh;
}
.sidenav ul {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow: hidden;
}
.sidenav ul.visible {
  height: 20vh;
  width: 200px;
}
.sidenav li {
  font-weight: 400;
  text-align: left;
}
.sidenav li:hover, .sidenav .clickable:hover {
  color: #fff;
  cursor: pointer;
}
.sidenav li.active {
  color: #fff;
  font-weight: 700;
}
.sidenav footer {
  font-weight: 400;
}
.sidenav footer a {
  color: #e9ede6;
}

/*
==========================
CHAT ROOM
==========================
*/
#chatroom-panel {
  max-height: 100vh;
  margin-left: 200px;
  text-align: left;
  overflow-y: auto;
}
#chatroom-panel #chatroom-header {
  position: fixed;
  left: 200px;
  top: 0px;
  width: 100%;
  margin-top: 10px;
  z-index: 2;
  background-color: #f9f9f9;
}
#chatroom-panel #chatroom-header #chatroom-header-text {
  margin-left: 10px;
}
#chatroom-panel #chatroom-header hr {
  margin: 0 0;
}
#chatroom-panel #chatroom-header #workspace-info {
  position: fixed;
  right: 20px;
  top: 0px;
}
#chatroom-panel #messages {
  list-style-type: none;
  padding-left: 10px;
}
#chatroom-panel #messages img {
  float: left;
  margin: 0 5px 8px 0;
}
#chatroom-panel #messages li {
  margin-top: 5px;
}
#chatroom-panel #messages li:after, #chatroom-panel #messages li:before {
  content: "";
  display: table;
  clear: both;
}
#chatroom-panel #messages h5, #chatroom-panel #messages p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  margin-left: 55px;
}
#chatroom-panel #messages p {
  margin-bottom: 8px;
}
#chatroom-panel #messages .message-date {
  font-weight: 300;
  font-size: 12px;
}
#chatroom-panel #messages .message-options {
  display: none;
}
#chatroom-panel #messages .message-options a {
  padding-right: 5px;
}
#chatroom-panel #messages .user-message:hover .message-options {
  display: block;
}
#chatroom-panel #chat-input {
  position: fixed;
  left: 200px;
  bottom: 0px;
  width: 100%;
  padding-bottom: 20px;
  text-align: left;
  z-index: 2;
  background-color: #f9f9f9;
}
#chatroom-panel #chat-input hr {
  margin-top: 0;
}
#chatroom-panel #chat-input #chat-input-form {
  padding-left: 20px;
}
#chatroom-panel #chat-input #message {
  width: 50%;
}

.online {
  color: #96E072;
}

.profile-icon {
  height: 50px;
  width: auto;
  margin-top: 5px;
}

/*
==========================
SEARCH BAR
==========================
*/
#searchbar {
  min-width: 366px;
}

.custom-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e9ede6;
  margin-right: -1px;
  color: #16425b;
  background-color: #e9ede6;
}

.custom-select:hover, .custom-select:focus {
  color: #e9ede6;
  background-color: #e9ede6;
}

.search-text {
  border-radius: 0;
  border: 1px solid #e9ede6;
  width: 220px;
}

.search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -10px;
}

/*
==========================
FOOTER
==========================
*/
.footer {
  color: #e9ede6;
  margin-top: 20px;
  padding: 10px 0 !important;
  font-weight: 400;
  background-color: #7f97a5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer .footer-text {
  margin: 2px 0;
}
.footer a {
  color: #16425b;
}

/*
===========================
CONTAINER
===========================
*/
.container {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #333;
  -webkit-box-shadow: 11px 11px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 11px 11px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 11px 11px 10px -4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.container h1, .container h2, .container .row {
  padding-top: 20px;
}

/*
===========================
BUTTONS
===========================
*/
.btn-primary {
  color: #e9ede6;
  background-color: #16425b;
  border-color: #e9ede6;
}

.btn-primary:hover {
  color: #16425b;
  background-color: #7f97a5;
  border-color: #e9ede6;
}

/*
==========================
CARDS
==========================
*/
.card {
  background-color: none;
}
.card .num-ratings {
  margin-left: 84px;
  padding-bottom: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.card:hover {
  background-color: rgba(50, 50, 50, 0.03);
}

.card-body {
  padding-bottom: 0px;
}

a .card-subtitle {
  font-size: 12px;
  color: #16425b;
  text-decoration: none;
}

.card img.book-cover-S, .details-book-cover-S {
  float: left;
  max-height: 70px;
  margin-right: 10px;
}

/*
==========================
STAR RATING IMGS
==========================
*/
.card .star-rating {
  float: left;
  width: 80px;
}

.bdstar-rating {
  max-width: 80px;
}

/*
==========================
BOOK DETAILS PAGE
==========================
*/
.details-book-cover-L {
  margin-bottom: 20px;
}

.review .bdstar-rating {
  max-width: 80px;
}
.review h4 {
  padding-top: 10px;
}
.review h5 {
  line-height: 20px;
  margin-bottom: 0;
}
.review p.date {
  font-size: 12px;
  font-weight: 700;
}
.review select {
  max-width: 180px;
  border-radius: 3px;
}
.review .btn {
  float: right;
  clear: both;
}
.review form {
  clear: both;
}
.review .edit {
  margin-bottom: 10px;
}
.review .btn-danger {
  margin: 5px 0 10px 0;
}

.cancel {
  display: none;
}

.edit_review {
  display: none;
}

/*
==========================
LOGIN, REGISTER, ACCOUNT
==========================
*/
.login.container, .register.container {
  margin-top: 100px;
  border-radius: 10px;
  border: 1px solid #333;
  background-color: #f9f9f9;
  -webkit-box-shadow: 11px 11px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 11px 11px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 11px 11px 10px -4px rgba(0, 0, 0, 0.5);
  max-width: 450px;
}

.login .btn, .register .btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.login .form-signin input[type=text], .register #inputPassword, #new-pass {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login .form-signin input[type=password], .register #checkPassword, #check-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}
.register #inputPassword {
  margin-top: 20px;
}
.register [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.register [type=radio] + img {
  cursor: pointer;
  margin: 4px 4px;
  height: 60px;
}
.register [type=radio]:checked + img {
  outline: 2px solid #000;
}
.register .delete_account {
  display: none;
}

/*
=============================
RESPONSIVE
=============================
*/
/* Hide large book images on small screens:*/
@media screen and (max-width: 576px) {
  .book-cover-L {
    display: none;
  }

  .card.mb-4.shadow-sm {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 576px) {
  img.book-cover-S {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .details-book-cover-L {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .details-book-cover-S {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #searchbar {
    display: inline-block;
  }

  #searchbar select {
    max-width: 80px;
    margin-right: -5px;
  }

  #searchbar button {
    margin-left: -15px;
  }
}

/*# sourceMappingURL=styles.css.map */
