/* Custom CSS Styles to override Bootstrap */

/*
New Colors:
261447
ff3864
f39c6b
cc978e
c0bda5
ede9cb
*/

/*
  ========================================
  SASS Variables
  ========================================
*/

$theme-dark: #16425b;
$theme-med: #7f97a5;
$theme-light: #e9ede6;
$primary-container: #f9f9f9;
$text-on-theme-dark: #e9ede6;
$text-on-container: #16425b;
$highlight-dark: #333;

/*
  ========================================
  Custom styles
  ========================================
*/

* {
  box-sizing: border-box;
}

html {
 // position: relative;
  min-height: 100%;
}

body {
  background-color: $primary-container;
  color: $text-on-container;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: $text-on-container;
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size:18px;
}

h5 {
  font-size: 16px;
}

a, a:hover {
  color: $theme-dark;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

.text-muted {
  color: $text-on-container;
}

.hidden {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

/*
==========================
NAVBAR
==========================
*/
#navbar {
  background-color: $theme-dark;
}

#logo h1 {
  margin-top: 6px;
  margin-left: 5px;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: $theme-light;
  display: inline-block;
}

#logo:hover {
  color: $theme-light;
}

#logo img {
 float: left;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 700;
  color: $text-on-theme-dark;
}

/*
==========================
SIDE NAV
==========================
*/
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: left;
  color: $theme-light;
  background-color: $theme-dark;
  overflow-x: hide;
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 0;

  hr {
    margin: 0 20px 10px 0;
    background-color: #fff;
  }

  h3, h4, h5, #dropdownMenuLink{
    font-weight: 600;
    color: #fff;
  }

  p {
    margin-bottom: 8px;
  }

  .dropdown {
    margin-bottom: 10px;

    #dropdownMenuLink{
      font-size: 24px;
    }

    .dropdown-menu {
      background-color: $theme-dark;
      color: $text-on-theme-dark;
      max-width: 200px;
      font-weight: 700;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      border: 1px solid white;
      z-index: 2;

      .dropdown-header {
        color: $text-on-theme-dark;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        padding: 2px 4px;
      }

      .dropdown-item {
        color: $text-on-theme-dark;
        font-weight: 700;
        padding: 4px 4px;
      }

      .dropdown-item:hover {
        color: $highlight-dark;
      }
    }
  }

  #new-channel button, #channel-name, #new-workspace button, #workspace-name {
    width: 140px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
  }

  #new-channel {
    height: 20vh;
  }

  ul {
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow: hidden;
  }

  ul.visible {
    height: 20vh;
    width: 200px;
  }

  li {
    font-weight: 400;
    text-align: left;
  }

  li:hover, .clickable:hover {
    color: #fff;
    cursor: pointer;
  }

  li.active {
    color: #fff;
    font-weight: 700;
  }

  footer {
    font-weight: 400;

    a {
      color: $theme-light;
    }
  }
}

.online {
  color: #96E072;
}


/*
==========================
CHATROOM/PRIVATE CHANNELS
==========================
*/

#chatroom-panel {

  #chatroom-header {
    z-index: 2;
  }

  #chat-input {
    z-index:4;
  }
}

#private-panel {
  z-index: 5;
  display: none;

  #chatroom-header, #chat-input {
    z-index: 6;
  }
}

#chatroom-panel, #private-panel {
  max-height: 100vh;
  margin-left: 200px;
  text-align: left;
  overflow-y: auto;

  #chatroom-header {
    position: fixed;
    left: 200px;
    top: 0px;
    width: 100%;
    padding-top : 10px;
    background-color: $primary-container;

    #chatroom-header-text {
      margin-left: 10px;
    }

    hr {
      margin: 0 0;
    }

    #workspace-info {
      position: fixed;
      right: 20px;
      top: 10px;
    }
  }

  #messages, #private-messages {
    word-wrap: break-word;
    list-style-type: none;
    padding-left: 10px;

    img {
      float: left;
      margin: 0 5px 8px 0;
    }

    li {
      margin-top: 5px;
    }

    li:after, li:before {
      content: "";
  display: table;
      clear: both;
    }

    h5, p {
     font-size: 14px;
     line-height: 16px;
     margin-bottom: 4px;
     margin-left: 55px;
    }

    textarea {
      font-size: 14px;
      line-height: 16px;
      width: 75%;
    }

    p {
      margin-bottom: 8px;
    }

    .message-date {
      font-weight:300;
      font-size: 12px;
    }

    .user-message a {
      display: inline-block;
      margin-right: 10px;
    }

    .user-message:hover .message-options {
      height: 0;
      display: block;
      animation: hover-reveal 1s ease-out;
      animation-fill-mode: forwards;
      animation-play-state: running;
    }
  }

  #chat-input {
    position: fixed;
    left: 200px;
    bottom: 0px;
    width: 100%;
    padding-bottom: 20px;
    text-align: left;
    background-color: $primary-container;

    hr {
      margin-top: 0;
    }

    #chat-input-form {
      padding-left: 20px;
    }

    #message, #private-message {
      width: 50%;
    }
  }
}

.profile-icon {
  height: 50px;
  width: auto;
  margin-top: 5px;
}


/*
=========================
WS-USER PANEL
=========================
*/
#workspace-user-panel {
  position: fixed;
  right: 0;
  top: 0;
  text-align: left;
  width: 0px;
  height: 100%;
  z-index: 3;
  overflow-x: hidden;
  padding: 20px 20px 65px 20px;
  background-color: $primary-container;
  opacity: 0;
  border-left: 1px solid $theme-med;
  transition: 0.5s;
  overflow-x: hidden;

  ul {
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow: hidden;
  }

  img {
    float: left;
    margin: 0 5px 8px 0;
  }

  li {
    margin-top: 5px;
  }

  li:after, li:before {
    content: "";
    display: table;
    clear: both;
  }

  h5 {
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 4px;
   margin-left: 55px;
  }

  a {
    font-size: 12px;
    line-height: 12px;
    margin-left: 0px;
  }
}


/*
==========================
FOOTER
==========================
*/
.footer {
  color: $text-on-theme-dark;
  margin-top: 20px;
  padding: 10px 0 !important;
  font-weight: 400;
  background-color: $theme-med;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  .footer-text {
    margin: 2px 0;
  }

  a {
    color: $theme-dark;
  }

}


/*
===========================
CONTAINER
===========================
*/
.container {
  background-color: $primary-container;
  border-radius: 10px;
  border: 1px solid $highlight-dark;
  -webkit-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  margin-top: 20px;

  h1, h2, .row {
    padding-top: 20px;
  }
}

/*
===========================
BUTTONS
===========================
*/
.btn-primary {
  color: $theme-light;
  background-color: $theme-dark;
  border-color: $theme-light;
}

.btn-primary:hover {
  color: $theme-dark;
  background-color: $theme-med;
  border-color: $theme-light;
}

/*
==========================
LOGIN, REGISTER, ACCOUNT
==========================
*/

.login.container, .register.container {
  margin-top: 100px;
  border-radius: 10px;
  border: 1px solid $highlight-dark;
  background-color: $primary-container;
  -webkit-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  max-width: 450px;
}

.login .btn, .register .btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.login .form-signin input[type="text"], .register #inputPassword, #new-pass {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login .form-signin input[type="password"], .register #checkPassword, #check-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register {

  p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 5px;
  }

  #inputPassword {
    margin-top: 20px;
  }

  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio] + img {
    cursor: pointer;
    margin: 4px 4px;
    height: 60px;
  }

  [type=radio]:checked + img {
    outline: 2px solid #000;
  }

  .delete_account {
    display: none;
  }
}

/*
=============================
ANIMATIONS
=============================
*/

@keyframes hover-reveal {

  0% {
    opacity: 0;
  }

  50% {
    height: 16.5px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 16.5px;
  }
}
