{% extends "layout.html" %}

{% block title %}Account Settings{% endblock %}

{% block main %}
  <!--Registration Container-->
  <div class="register container">
    <form class="form-signin" action="/account" method="post">
      <img class="mb-4" src="/static/Images/profile/{{session.profile_img}}" alt="" height="72">
      <h3 class="mb-3 font-weight-normal">Account Settings for {{session.username}}:</h3>
      <hr>
      <h4>Change your password using the fields below:</h4>
      <label for="curr-pass" class="sr-only">Current Password:</label>
      <input type="password" id="curr-pass" class="form-control" placeholder="Current Password" name="curr-pass" required autofocus>
      <br>
      <label for="new-pass" class="sr-only">New Password:</label>
      <input type="password" id="new-pass" class="form-control" placeholder="New Password" name="new-pass" required>
      <label for="check-pass" class="sr-only">Confirm New Password</label>
      <input type="password" id="check-pass" class="form-control" placeholder="Re-type Password" name="check-pass" required>
      <p>Note: Passwords must have a minimum of eight characters, including at least one number and letter.</p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
    </form>
    <hr>
    <form class="form-signin" action="/screen_name" method="post">
      <h4>Your Current Screen Name: {{session.screen_name}}</h4>
      <label for="new-screen-name" class="sr-only">New Screen Name:</label>
      <input type="text" id="new-screen-name" class="form-control" placeholder="New Screen Name" name="new-screen-name" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Screen Name</button>
    </form>
    <hr>
    <form class="form-signin" action="/profile_img" method="post" enctype=multipart/form-data>
      <label>
        <input type="radio" class="radio-img" name="profile" value="default_1.png" required>
        <img class="profile-icon" src="/static/Images/profile/default_1.png">
      </label>
      <label>
        <input type="radio" class="radio-img" name="profile" value="default_2.png">
        <img class="profile-icon" src="/static/Images/profile/default_2.png">
      </label>
      <label>
        <input type="radio" class="radio-img" name="profile" value="default_3.png">
        <img class="profile-icon" src="/static/Images/profile/default_3.png">
      </label>
      <label>
        <input type="radio" class="radio-img" name="profile" value="default_4.png">
        <img class="profile-icon" src="/static/Images/profile/default_4.png">
      </label>
      <br>
      <label>
        <input type="radio" id="user_img" name="profile" value="user_upload">
        <label for="user_img"><p>OR Upload your own profile icon:</p></label>
        <input type="file" accept=".png,.jpeg,.jpg,.gif" class="form-control-file" name="user_profile_img" onchange="loadFile(event)" autocomplete="off">
        <p class="mb-3 text-muted">File types accepted: .png, .jpg, .jpeg, .gif<br>Max File Size: 2 MB</p>
        <img id="user_upload" class="profile-icon" style="display: none; height: 60px; width: 60px; margin: auto;">
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Profile Icon</button>
    </form>
  </div>
  <script>
    var loadFile = function(event) {
      var image = document.getElementById('user_upload');
      image.src = URL.createObjectURL(event.target.files[0]);
      image.style.display = 'block'
    };
  </script>
{% endblock %}