{% extends "layout_index.html" %}

{% block title %}Chatroom{% endblock %}


{% block main %}

  <!-- Side Nav Bar -->
  <div class="sidenav">

    <!-- Logo Panel -->
    <a class="navbar-brand" id="logo" href="/">
      <img src="/static/Images/nav_logo.png" alt="" width="42" height="42">
      <h1>Flack<br>Teams</h1>
    </a>
    <hr>

    <!-- Username Panel -->
    <h4><span class="online">&#9673;</span> {{session.screen_name}}</h4>
    <hr>

    <!-- Workspace Panel -->
    <h5 id="workspace-options-display" class="clickable">Workspaces <i class="fas fa-plus-square"></i></h5>
    <h5 id="workspace-options-hide" class="clickable hidden">Workspaces X</h5>
    <form id="new-workspace" class="hidden">
      <label>Create a workspace:</label>
        <input type="text" id="workspace-name" name="workspace-name" placeholder="Workspace Name" autocomplete="off" required>
        <button class="btn btn-primary btn-sm">Create Workspace</button>
    </form>
    <div id="curr-workspace-panel">
      <p>Current Workspace:</p>
      <h3 id="curr-workspace-show" class="clickable"></h3>
      <h3 id="curr-workspace-hide" class="clickable hidden"></h3>
      <ul id="workspace-links" class="hidden">
      </ul>
    </div>
    <hr>

    <!-- Channel Panel -->
    <div class="channel-display">
      <h5 id="channel-options-display" class="clickable">Channels <i class="fas fa-plus-square"></i></h5>
      <h5 id="channel-options-hide" class="clickable hidden">Channels X</h5>
      <form id="new-channel" class="hidden">
        <label>Create a channel:</label>
        <input type="text" id="channel-name" name="channel-name" placeholder="Channel Name" autocomplete="off" required>
        <button class="btn btn-primary btn-sm">Create Channel</button>
      </form>
      <ul id="channel-links" class="visible">
      </ul>
    </div>
    <hr>
    <!-- Private Chat List -->
    <div class="channel-display">
      <h5>Direct Messages</h5>
      <ul id="private-links" class="visible">
      </ul>
    </div>
    <hr>
    <footer>
      <a id="logout" href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      <p class="footer-text">&copy; 2020 <a href="https://plcoster.github.io/homepage/index.html">P.L.Coster</a></p>
    </footer>
  </div>

  <!-- Channel Display Section -->
  <section id="chatroom-panel">
    <div id="chatroom-header">
      <div id="chatroom-header-text">
        <h5>Current Channel:</h5>
        <h4 id="curr-channel"></h4>
      </div>
      <div id="workspace-info" class="clickable" onclick="show_ws_users()">
        <h5><i class="fas fa-users"></i> <span id="workspace-users"></span></h5>
      </div>
      <hr>
    </div>

    <!-- Channel Messages -->
    <div style="height: 70px;"></div>

    <div id="message-panel">
      <ul id="messages">
      <!-- Channel messages added here-->
      </ul>
    </div>

    <div style="height: 60px;"></div>

    <!-- Chat text Entry -->
    <div id="chat-input">
      <hr>
      <form id="chat-input-form">
        <input type="text" id="message" placeholder="Enter Your Message" autocomplete="off" required>
        <button id="send-chat-input">Send!</button>
      </form>
    </div>
  </section>


  <!-- Private Channel Display Section -->
  <section id="private-panel">
    <div id="chatroom-header">
      <div id="chatroom-header-text">
        <h5>Private Chat with:</h5>
        <h4 id="private-channel">Placeholder</h4>
      </div>
      <div id="workspace-info">
        <h5 id="private-chat-close" class="clickable" onclick="hide_private_chat()">Close Private Chat X</h5>
      </div>
      <hr>
    </div>

    <!-- Private Channel Messages -->
    <div style="height: 70px;"></div>

    <div id="message-panel">
      <ul id="private-messages">
      <!-- Private messages added here -->
      </ul>
    </div>

    <div style="height: 60px;"></div>

    <!-- Private Chat text Entry -->
    <div id="chat-input">
      <hr>
      <form id="chat-input-form">
        <input type="text" id="private-message" placeholder="Enter Your Message" autocomplete="off" required>
        <button id="send-private-input">Send!</button>
      </form>
    </div>
  </section>

  <!-- Workspace Users Sidepanel -->
  <section id="workspace-user-panel">
    <p class="clickable" onclick="hide_ws_users()">Close X</p>
    <h4>Users Online in <span id="curr-workspace"></span>:</h4>
    <ul id="workspace-users-list">

    </ul>
  </section>

  <!-- Handlebars Templates -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
  <script id="message-template" type="text/template">
    {% raw -%}
    <!-- Message Template -->
    <li class="user-message" data-user_id= "{{ message.user_id}}" data-message_id="{{ message.message_id }}" data-timestamp="{{ message.message_timestamp }}">
      <img class="profile-icon" src="/static/Images/profile/{{ message.profile_img }}" alt="User Profile Image">
      <h5 class="message-username">{{ message.screen_name }} <span class="message-date text-muted"> {{ message.message_date }} - <span data-livestamp="{{ message.message_timestamp }}"></span></span></h5>
      <p class="message-text">{{{ message.message_text }}}</p>
      {{# if message.edited }}
      <p class="message-edited text-muted">{{ message.edit_text }} - {{ message.edit_date }}</p>
      {{/if}}

      <!-- Message Editor Form -->
      <form class="message-edit-form hidden">
        <label for="message-edit" class="sr-only">Message Editor</label>
        <textarea class="message-edit" rows="2" autocomplete="off" autocomplete="off" required></textarea>
        <p class="edit-options">
            <a href="#" class="edit-message" data-message_id="{{ message.message_id }}" data-timestamp="{{ message.message_timestamp }}"><i class="fas fa-check"> </i> Update Message</a>
            <a href="#" class="cancel-edit"><i class="fas fa-times"> </i> Cancel</a>
        </p>
      </form>

      <!-- Message Options -->
      <p class="message-options hidden">
        {{# if client_message}}
        {{# unless message.deleted}}
          <a href="#" onclick="message_editor()" data-message_id="{{ message.message_id }}" data-timestamp="{{ message.message_timestamp }}" data-private="{{ message.private }}"><i class="fas fa-pencil-alt"> </i> Edit Message</a>
          <a href="#" onclick="delete_message()" data-message_id="{{ message.message_id }}" data-timestamp="{{ message.message_timestamp }}" data-private="{{ message.private }}"><i class="fas fa-trash-alt"> </i> Delete Message</a>
        {{/unless}}
        {{else}}
        <a href="#" onclick="private_message()" data-target_id="{{ message.user_id }}"> <i class="fas fa-user"></i> Private Message</a>
        {{/if}}
      </p>
    </li>
    {%- endraw %}
  </script>

  <script id="user-ws-template" type="text/template">
    {% raw -%}
    <!-- User in WS Template -->
    {{#each user_details}}
    <li>
      <img class="profile-icon" src="/static/Images/profile/{{ this.icon }}" alt="User Profile Image">
      <h5>{{ this.name }}</h5>
      <a href="#" onclick="private_message()" data-target_id="{{ this.id }}"> <i class="fas fa-user"></i> Private Message</a>
    </li>
    {{/each}}
    {%- endraw %}
  </script>

  <!-- Socket IO-->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

  <!-- livestamp scripts -->
  <script src="/static/scripts/jquery.js"></script>
  <script src="/static/scripts/moment.js"></script>
  <script src="/static/scripts/livestamp.js"></script>

  <!-- Custom Page Script-->
  <script src="/static/scripts/index.js"></script>


{% endblock %}

