<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap, StyleSheets and Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons2/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons2/site.webmanifest">
    <!-- Title -->
    <title>Flack-Teams: {% block title %}{% endblock %}</title>
  </head>

  <body class="text-center">

    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark" id="navbar">
        <a class="navbar-brand" id="logo" href="/">
          <img src="/static/Images/nav_logo.png" alt="" width="42" height="42">
          <h1>Flack<br>Teams</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if session.user_id %}
          <!-- Navbar when logged in -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-arrow-left"></i>  Back to Flack-Teams</a>
              </li>
            </ul>
          {% else %}
          <!-- Navbar when NOT logged in -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register"></i>Register</a>
              </li>
            </ul>
          {% endif %}
        </div>
      </nav>
    </header>

    {% if get_flashed_messages() %}
    <!-- Flashed Message on Render-template -->
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <!-- Main Content Block -->
    <main>
      {% block main %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
      <p class="footer-text">&copy; 2020 <a href="https://plcoster.github.io/homepage/index.html">P.L.Coster</a></p>
    </footer>

  </body>
</html>