<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap, StyleSheets and Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons2/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons2/site.webmanifest">
    <!-- Title -->
    <title>Flack-Teams: {% block title %}{% endblock %}</title>
  </head>

  <body class="text-center">

    {% if get_flashed_messages() %}
    <!-- Flashed Message on Render-template -->
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <!-- Main Content Block -->
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>